## LIST COMPREHENSION

In [30]:
l1 = [1,2,3,4,5] # case 1
l1*5
l2 = [10,20,30]+[10,20,30] # case 2
l2
# in both cases elements get concatenated like an unusual result, I'm not expected this result, instead result should be;
# l1 = [5,10,15,20,25] 
# l2 = [20,40,60]

# use list comprehensions as;
l1 = [x*5 for x in l1]
print(l1)
l2 = [x*2 for x in [10,20,30]]
l2

#another example
squares =[]
for i in range(1,101):
    squares.append(i**2)
print(squares)

# use list comprehensions as;
square2 = [x**2 for x in range(1,101)]
print(square2)

remainder5 =[x**2%5 for x in range(1,101)]
print(remainder5)

remainders11 = [x**2%11 for x in range(1,101)]
print(remainders11)

[5, 10, 15, 20, 25]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]
[1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0]
[1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1]

In [43]:
# lets use some character type examples

movies = ['mere jeevan sathi','pyar kiye ja','jawaani-diwanni','khubsoorat','ziddi','padosan','satyan shivan sundaram','pagla kahin ka', 'hare rama hare krishna',
          'shree 420','awaara','dil hi to hai', 'aashique hoon baharon ka','tere ghar ke samne','aamne saamne','shadi ke baad','geet gata chal','pyar ka mausam',
           'besharam','ghooghat','qatilo ka qatil' ]
# using loop
movie=[]
for title in movies:
        if title.startswith('s'):
         movie.append(title)
print(movie)

# using list comprehension;
movie = [title for title in movies if title.startswith('s')]
print(movie)

['satyan shivan sundaram', 'shree 420', 'shadi ke baad']
['satyan shivan sundaram', 'shree 420', 'shadi ke baad']

In [64]:
MoviesYear = [('mere jeevan sathi',1990),('pyar kiye ja',1999),('jawaani-diwanni',1970),('khubsoorat',1972),('ziddi',1981),('padosan',2000),('satyan shivan sundaram',1974),('pagla kahin ka',2002), ('hare rama hare krishna',1988),
          ('shree 420',1962),('awaara',1965),('dil hi to hai',2009), ('aashique hoon baharon ka',1973),('tere ghar ke samne',1970),('aamne saamne',1980)
          ,('shadi ke baad',2011),('geet gata chal',1988),('pyar ka mausam',1966),('besharam',1990),('ghooghat',2004),('qatilo ka qatil',1977)]

titleofMovie = [title for (title,year) in MoviesYear if year <1970]
print(titleofMovie)

Fruits = ['apple','banana','pineapple','watermelon','grapes']

fruit = []
for x in Fruits:
        fruit.append(x.upper())
print(fruit)

NewFruits =[fruits.upper() for fruits in Fruits]
print(NewFruits)


strings ="HelloHowAreYouAllGood"
NewString ="".join([i if i.islower() else " " + i for i in strings])[1:]
print(NewString)

['shree 420', 'awaara', 'pyar ka mausam']
['APPLE', 'BANANA', 'PINEAPPLE', 'WATERMELON', 'GRAPES']
['APPLE', 'BANANA', 'PINEAPPLE', 'WATERMELON', 'GRAPES']
Hello How Are You All Good

In [51]:
#cartesian product
# A =(1,2), B =(a,b) then result should be {(1,a),(2,a),(1,b),(2,b)}

A = [1,3,5,7]
B = [2,4,6,8]

CP = [(a,b) for a in A for b in B]
print(CP)

[(1, 2), (1, 4), (1, 6), (1, 8), (3, 2), (3, 4), (3, 6), (3, 8), (5, 2), (5, 4), (5, 6), (5, 8), (7, 2), (7, 4), (7, 6), (7, 8)]